/* General styles */
* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

/* General template styles */
.template_center_h {
    display: flex;
    justify-content: center;
}
.template_center_v {
    display: flex;
    align-items: center;
}

/* Header styles */
#header {
    height: 150px;
    width: 90vw;
}
.template_header_items{
    margin: 40px 30px 20px 20px;
}
#header_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#new_item_img {
    cursor: pointer;
    height: 4vw;
    width: 4vw;
}
#new_item_img:hover {
    opacity: 70%;
}

/* Shopping list styles */
.template_main_grid {
    width: 90vw;
}
.template_main_grid > div:not(:last-child) {
    border-bottom: 3px solid rgb(150, 150, 150);
}

.template_list_item {
    margin: 0px 20px 0px 20px;
}

.template_list_item_grid {
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto auto 1fr 1fr 70px;
    gap: 3px;
}

.template_list_item_checkbox{
    margin: 10px 10px 0px 10px;
    cursor: pointer;
}
.template_list_item_checkbox:hover {
    opacity: 70%;
}
.template_list_item_checkbox_img {
    height: 4vw;
    width: 4vw;
}

.template_list_item_name {
    font-size: 4vw;
    text-align: left;
    margin-left: 50px;
}

.template_list_item_count {
    font-size: 4vw;
    text-align: left;
}

.template_list_item_priority {
    margin: 10px 10px 0px 10px;
    cursor: pointer;
}
.template_list_item_priority:hover {
    opacity: 70%;
}
.template_list_item_priority_img {
    height: 4vw;
    width: 4vw;
}

.template_list_item_delete{
    margin: 10px 10px 0px 10px;
    cursor: pointer;
}
.template_list_item_delete:hover {
    opacity: 70%;
}
.template_list_item_delete_img {
    height: 4vw;
    width: 4vw;
}

/* Checkbox template */
.template_checkbox {
  display: inline-block;
  cursor: pointer;
}
.template_checkbox input {
  display: none;
}
.template_checkbox span {
  width: 45px;
  height: 45px;
  border: 5px solid #000;
  border-radius: 15px;
  display: inline-block;
  position: relative;
}
/* checkmark */
.template_checkbox span::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 1px;
  width: 15px;
  height: 30px;
  border: solid #34b93d;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg);
  opacity: 0;
}
/* show check when checked */
.template_checkbox input:checked + span::after {
  opacity: 1;
}
.template_checkbox input:checked + span {
  border-color: #34b93d;
}

/* New item window styles */
#new_item_window {
    background-color: rgb(230, 230, 230);
    position: fixed;
    top: 100px;
    width: 50vw;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new_item_close_window {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#new_item_close_window_img {
    height: 2vw;
    width: 2vw;
    margin: 20px 20px 0px 0px;
    cursor: pointer;
}
#new_item_close_window_img:hover {
    opacity: 70%;
}
#new_item_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
#new_item_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 2.5% 0px 0px 0px;
    flex: 1;
}
.template_form_subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2vw 0px 2vw 0px;
}
.new_item_form_label {
    font-size: 2vw;
    font-weight: 600;
}
.new_item_form_input {
    height: 3vw;
    width: 60%;
    font-size: 2vw;
    padding: 5px;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 3px;
}
#new_item_form_submit_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 2vw 0px 2vw;
}
#new_item_form_submit {
    background-color: rgb(52, 185, 61);
    border: 0px;
    border-radius: 5px;
    padding: 7px 25px 10px 25px;
    font-size: 2vw;
    font-weight: 600;
    cursor: pointer;
}
#new_item_form_submit:hover {
    background-color: rgb(102, 196, 109);
}

@media (max-width: 700px) {
    #new_item_window {
        width: 85vw;
    }
    #new_item_close_window_img {
        height: 4vw;
        width: 4vw;
        margin: 20px 20px 0px 0px;
        cursor: pointer;
    }
    .template_form_subcontainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .new_item_form_label {
        width: 100%;
        font-size: 4vw;
        margin-bottom: 10px;
    }
    .new_item_form_input {
        height: 7vw;
        width: 100%;
        font-size: 4vw;
        box-sizing: border-box;
    }
    #new_item_form_submit_container {
        margin: 2vw 0px 3vw;
    }
    #new_item_form_submit {
        font-size: 4vw;
    }
}


#padding {
    height: 1500px;
    width: 100vw;
}